* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    
}

header {
    background-color: #a0af4c;
    padding: 20px;
}

body {
    margin: 0 auto;
    max-width: 87%;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color:antiquewhite;
}
section {
    background-color: #f7f7f7;
    width: 70%;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
} 

h1, h2, h3 {
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
}

@media only screen and (max-width: 1080px) {
}
@media only screen and (max-width: 768px) {
}
